/* EXERCISE 11.1 */
body {
    transition: baclground-color 0.3s, color 0.3s;
}

/* EXERCISE 11.2 */
.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
}

.colorDiv {
    cursor: pointer;
    padding: 1rem;
    margin: 0.10rem;
    border: 1px solid #000;
    border-radius: 2rem;
}

/* exercise 11.4 Mouse event handlers */
.custom-element {
    width: 200px;
    height: 100px;
    background-color: #CCC;
}

/* DOM event flow */
div {
    border: 1px solid black;
    margin-left: 5px;
}

/* exercise 11.8 Key event handler */
.outPut {
    margin: 10px;
    padding: 10px;
    border: 1px solid #CCC;
}