/* EXERCISE 11.1 */
body {
    transition: baclground-color 0.3s, color 0.3s;
}

/* EXERCISE 11.2 */
.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
}

.colorDiv {
    cursor: pointer;
    padding: 1rem;
    margin: 0.10rem;
    border: 1px solid #000;
    border-radius: 2rem;
}

/* exercise 11.4 Mouse event handlers */
.custom-element {
    width: 200px;
    height: 100px;
    background-color: #CCC;
}

/* DOM event flow */
div {
    border: 1px solid black;
    margin-left: 5px;
}

/* exercise 11.8 Key event handler */
/* .outPut {
    margin: 10px;
    padding: 10px;
    border: 1px solid #CCC;
} */

/* Drag and drop elements */
/* .box {
    height: 200px;
    width: 200px;
    padding: 20px;
    margin: 0 50px;
    display: inline-block;
    border: 1px solid black;
} */

#dragme {
    background-color: red;
}

/* Animating elements */
.div {
    background-color: purple;
    width: 100px;
    height: 100px;
    position: absolute;
}

/* exercise 11.11 */
#movingElement {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
}

/* Star rating system */
yle>.stars ul {
    list-style-type: none;
    padding: 0;
}

.star {
    font-size: 2em;
    color: #ddd;
    display: inline-block;
}

.orange {
    color: orange;
}

/* .output {
    background-color: #ddd;
} */

/* Mouse position tracker */
.container {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    position: relative;
}

.active {
    background-color: red;
}

#output {
    margin-top: 10px;
}

/* Box clicker speed test game */
.output {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    text-align: center;
    position: relative;
    /* Add relative positioning */
}

.box {
    width: 50px;
    height: 50px;
    position: absolute;
    /* Change to absolute positioning */
    background-color: red;
}

.message {
    text-align: center;
    padding: 10px;
    font-size: 1.3em;
}